# Evaluación II - Módulo 2

In [1]:
import pandas as pd
import numpy as np
import sidetable 
import requests
from datetime import datetime, timedelta
import mysql.connector
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all" 
from geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim(user_agent="Esti")

In [3]:
pd.options.display.max_columns = None

1. Utilizando la API extraed toda la información que podáis de ella. La url para hacer las llamadas es:

API_URL = "http://universities.hipolabs.com/search?country=NOMBREPAIS"

Os deberá quedar un dataframe similar a este:

In [4]:
url_eeuu = "http://universities.hipolabs.com/search?country=United States"
response_eeuu = requests.get(url = url_eeuu)

print(f"El código respuesta de la solicitud es {response_eeuu.status_code}, mensaje: {response_eeuu.reason}")

df_eeuu = pd.DataFrame(response_eeuu.json())

El código respuesta de la solicitud es 200, mensaje: OK

In [5]:
url_canada = "http://universities.hipolabs.com/search?country=Canada"
response_canada = requests.get(url = url_canada)

print(f"El código respuesta de la solicitud es {response_canada.status_code}, mensaje: {response_canada.reason}")

df_canada = pd.DataFrame(response_canada.json())

El código respuesta de la solicitud es 200, mensaje: OK

In [6]:
url_argentina = "http://universities.hipolabs.com/search?country=Argentina"
response_argentina = requests.get(url = url_argentina)

print(f"El código respuesta de la solicitud es {response_argentina.status_code}, mensaje: {response_argentina.reason}")

df_argentina = pd.DataFrame(response_argentina.json())

El código respuesta de la solicitud es 200, mensaje: OK

In [7]:
df_eeuu.head()

,state-province,domains,name,country,web_pages,alpha_two_code
0,None,[marywood.edu],Marywood University,United States,[http://www.marywood.edu],US
1,None,[lindenwood.edu],Lindenwood University,United States,[http://www.lindenwood.edu/],US
2,None,[sullivan.edu],Sullivan University,United States,[https://sullivan.edu/],US
3,None,[fscj.edu],Florida State College at Jacksonville,United States,[https://www.fscj.edu/],US
4,None,[xavier.edu],Xavier University,United States,[https://www.xavier.edu/],US

In [8]:
df_argentina.head()

,state-province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,[austral.edu.ar],Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR
2,Ciudad Autónoma de Buenos Aires,[caece.edu.ar],"Universidad CAECE, Buenos Aires",Argentina,[http://www.caece.edu.ar/],AR
3,Ciudad Autónoma de Buenos Aires,[cema.edu.ar],Instituto Universitario CEMA,Argentina,[http://www.cema.edu.ar/],AR
4,Ciudad Autónoma de Buenos Aires,[iese.edu.ar],Instituto de Enseñanza Superior del Ejército,Argentina,[http://www.iese.edu.ar/],AR

In [9]:
df_argentina.head()

,state-province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,[austral.edu.ar],Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR
2,Ciudad Autónoma de Buenos Aires,[caece.edu.ar],"Universidad CAECE, Buenos Aires",Argentina,[http://www.caece.edu.ar/],AR
3,Ciudad Autónoma de Buenos Aires,[cema.edu.ar],Instituto Universitario CEMA,Argentina,[http://www.cema.edu.ar/],AR
4,Ciudad Autónoma de Buenos Aires,[iese.edu.ar],Instituto de Enseñanza Superior del Ejército,Argentina,[http://www.iese.edu.ar/],AR

2. Una vez tengáis todos los datos de la API, deberéis realizar una serie de procesos de limpieza, estos incluyen:

- Cambiad los nombres de las columnas para homogeneizarlas, tenemos columnas que tienen - y otras _. Unifícalo para que todo vaya con _.

In [10]:
nuevas_columnas = {col: col.lower().replace('-', '_') for col in df_eeuu.columns}

df_eeuu.rename(columns= nuevas_columnas, inplace= True)

display(df_eeuu.head(1))

,state_province,domains,name,country,web_pages,alpha_two_code
0,None,[marywood.edu],Marywood University,United States,[http://www.marywood.edu],US

In [11]:
nuevas_columnas = {col: col.lower().replace('-', '_') for col in df_canada.columns}

df_canada.rename(columns= nuevas_columnas, inplace= True)

display(df_canada.head(1))

,state_province,domains,name,country,web_pages,alpha_two_code
0,Quebec,[cstj.qc.ca],Cégep de Saint-Jérôme,Canada,"[https://www.cstj.qc.ca, https://ccmt.cstj.qc....",CA

In [12]:
nuevas_columnas = {col: col.lower().replace('-', '_') for col in df_argentina.columns}

df_argentina.rename(columns= nuevas_columnas, inplace= True)

display(df_argentina.head(1))

,state_province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR

- La columna de domains nos da una información similar a la de web_pages. Eliminad la columna domains.

In [13]:
df_eeuu.drop(['domains'], axis= 1, inplace= True)
display(df_eeuu.head(1))

,state_province,name,country,web_pages,alpha_two_code
0,None,Marywood University,United States,[http://www.marywood.edu],US

In [14]:
df_canada.drop(['domains'], axis= 1, inplace= True)
display(df_canada.head(1))

,state_province,name,country,web_pages,alpha_two_code
0,Quebec,Cégep de Saint-Jérôme,Canada,"[https://www.cstj.qc.ca, https://ccmt.cstj.qc....",CA

In [15]:
df_argentina.drop(['domains'], axis= 1, inplace= True)
display(df_argentina.head(1))

,state_province,name,country,web_pages,alpha_two_code
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR

3. Si exploramos la columna de web_pages, nos daremos cuenta que hay universidades, como por ejemplo la Universidad de "Cégep de Saint-Jérôme" de Canadá que en su columna de web_pages tiene más de un valor dentro de la lista. 

Esto es poco práctico y puede llegar a no tener sentido. el objetivo de este ejericio es que usando el método explode de pandas separéis cada elemento de la lista en una fila nueva. Aquí tenéis la documentación de este método.

Al final os quedará una tabla similar a la siguiente:

In [16]:
#This routine will explode list-likes including lists, tuples, sets, Series, and np.ndarray. The result dtype of the subset rows will be object. 

df_eeuu = df_eeuu.explode('web_pages')
display(df_eeuu.head(1))

df_canada = df_canada.explode('web_pages')
display(df_canada.head(1))

df_argentina = df_argentina.explode('web_pages')
display(df_argentina.head(1))

,state_province,name,country,web_pages,alpha_two_code
0,None,Marywood University,United States,http://www.marywood.edu,US

,state_province,name,country,web_pages,alpha_two_code
0,Quebec,Cégep de Saint-Jérôme,Canada,https://www.cstj.qc.ca,CA

,state_province,name,country,web_pages,alpha_two_code
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR

4. Una vez hayáis realizado el explode, chequead si tenéis duplicados basándonos unicamente en el nombre de la universidad, en caso de que si, eliminandlos.

In [17]:
print(f"En el df EEUU tenemos {df_eeuu.duplicated(['name']).sum()} duplicados")

print(f"En el df Canadá tenemos {df_canada.duplicated(['name']).sum()} duplicados")

print(f"En el df Argentina tenemos  {df_argentina.duplicated(['name']).sum()} duplicados")

En el df EEUU tenemos 20 duplicados
En el df Canadá tenemos 4 duplicados
En el df Argentina tenemos  0 duplicados

In [37]:
#dos formas

df_canada.drop_duplicates(["name"], inplace = True)

df_eeuu.drop_duplicates(subset="name", inplace = True)

In [19]:
# comprobación

print(f"En el df EEUU tenemos {df_eeuu.duplicated(['name']).sum()} duplicados")

print(f"En el df Canadá tenemos {df_canada.duplicated(['name']).sum()} duplicados")

En el df EEUU tenemos 0 duplicados
En el df Canadá tenemos 0 duplicados

5. Si exploramos la columna de state_province veremos que hay universidades cuyo valor para esta columna es None. 

Cread una función para reemplazar los None por nulos de numpy.

In [20]:
#df[df['state_province'].values == None]  #chequeamos los nones

In [21]:
display(f"En el df EEUU tenemos {df_eeuu['state_province'].isnull().sum()} nulos.")

display(f"En el df Canadá tenemos {df_canada['state_province'].isnull().sum()} nulos.")

display(f"En el df Canadá tenemos {df_argentina['state_province'].isnull().sum()} nulos.")

'En el df EEUU tenemos 2208 nulos.'

'En el df Canadá tenemos 8 nulos.'

'En el df Canadá tenemos 22 nulos.'

In [22]:
def reemplazar_nones (df):

    for col in df:

        df[col] = df[col].fillna(np.nan)

    return df

In [23]:
reemplazar_nones(df_eeuu)
df_eeuu['state_province'].unique()

,state_province,name,country,web_pages,alpha_two_code
0,NaN,Marywood University,United States,http://www.marywood.edu,US
1,NaN,Lindenwood University,United States,http://www.lindenwood.edu/,US
2,NaN,Sullivan University,United States,https://sullivan.edu/,US
3,NaN,Florida State College at Jacksonville,United States,https://www.fscj.edu/,US
4,NaN,Xavier University,United States,https://www.xavier.edu/,US
...,...,...,...,...,...
2276,NaN,Virginia University of Lynchburg,United States,https://www.vul.edu/,US
2277,NaN,Voorhees University,United States,https://www.voorhees.edu/,US
2278,NaN,West Virginia State University,United States,https://www.wvstateu.edu/,US
2279,NaN,Wiley College,United States,https://www.wileyc.edu/,US
2280,NaN,Winston-Salem State University,United States,https://www.wssu.edu/,US

array([nan, 'Pennsylvania', 'NV', 'Iowa', 'VA', 'TX', 'Colorado', 'IN',
       'CA', 'South Carolina', 'Washington', 'NY', 'Texas', 'ND', 'MI',
       'Ohio', 'Florida', 'California', 'North Carolina', 'Michigan',
       'GA', 'New York, NY'], dtype=object)

In [24]:
reemplazar_nones(df_canada)
df_canada['state_province'].unique()

,state_province,name,country,web_pages,alpha_two_code
0,Quebec,Cégep de Saint-Jérôme,Canada,https://www.cstj.qc.ca,CA
1,Ontario,Lambton College,Canada,https://www.lambtoncollege.ca,CA
2,Nova Scotia,Acadia University,Canada,http://www.acadiau.ca/,CA
3,Ontario,Algonquin College,Canada,http://www.algonquincollege.com/,CA
4,British Columbia,Ashton College,Canada,http://www.ashtoncollege.com/,CA
...,...,...,...,...,...
149,Ontario,Fanshawe College,Canada,https://www.fanshawec.ca/,CA
150,Quebec,Vanier College,Canada,https://www.vaniercollege.qc.ca/,CA
151,Ontario,Ontario Tech University,Canada,https://ontariotechu.ca/,CA
152,Ontario,Toronto Metropolitan University,Canada,https://www.torontomu.ca/,CA
153,Quebec,Collège Universel Gatineau,Canada,https://collegeuniversel.ca/,CA

array(['Quebec', 'Ontario', 'Nova Scotia', 'British Columbia', 'Alberta',
       'Manitoba', 'New Brunswick', 'Saskatchewan', nan,
       'Newfoundland and Labrador', 'Prince Edward Island', 'Yukon'],
      dtype=object)

In [25]:
reemplazar_nones(df_argentina)
df_argentina['state_province'].unique()

,state_province,name,country,web_pages,alpha_two_code
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR
1,Buenos Aires,Universidad Austral Buenos Aires,Argentina,http://www.austral.edu.ar/,AR
2,Ciudad Autónoma de Buenos Aires,"Universidad CAECE, Buenos Aires",Argentina,http://www.caece.edu.ar/,AR
3,Ciudad Autónoma de Buenos Aires,Instituto Universitario CEMA,Argentina,http://www.cema.edu.ar/,AR
4,Ciudad Autónoma de Buenos Aires,Instituto de Enseñanza Superior del Ejército,Argentina,http://www.iese.edu.ar/,AR
...,...,...,...,...,...
82,Buenos Aires,Universidad Nacional de Tres de Febrero,Argentina,http://www.untref.edu.ar/,AR
83,Ciudad Autónoma de Buenos Aires,Universidad Torcuato di Tella,Argentina,http://www.utdt.edu/,AR
84,Ciudad Autónoma de Buenos Aires,Universidad Tecnológica Nacional,Argentina,http://www.utn.edu.ar/,AR
85,Ciudad Autónoma de Buenos Aires,Universidad Abierta Interamericana,Argentina,http://www.vaneduc.edu.ar/uai/,AR
86,NaN,Universidad Nacional de Villa María,Argentina,http://webs.satlink.com/usuarios/i/iiunvm/,AR

array(['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', nan,
       'Santiago Del Estero', 'Misiones', 'Catamarca', 'Formosa', 'Jujuy',
       'La Rioja', 'La Pampa', 'San Juan', 'San Luis', 'Tucumán'],
      dtype=object)

6. Después del último cambio, os habréis dado cuenta que tenemos muchos valores nulos dentro de la columna de state_province, por lo que nuestro jefe nos pide que reemplacemos esos nulos por "Unknow". No nos piden ningún método especifico, asi que podremos usar el método que queramos.

In [26]:
df_eeuu['state_province'].replace(np.nan, 'Unknow', inplace=True)

In [27]:
df_canada['state_province'].replace(np.nan, 'Unknow', inplace=True)

In [28]:
df_argentina['state_province'].replace(np.nan, 'Unknow', inplace=True)

7. Ahora nuestros jefes nos piden que saquemos las coordenadas de las provincias donde están ubicadas las universidades. 
Para eso nos piden que usemos la librería de geopy que aprendimos el día del repaso, aquí la documentación. Para desarrollar este ejercicio deberéis:
- Sacar los valores únicos de la columna state_province.

In [29]:
display(df_eeuu['state_province'].unique())
display(df_canada['state_province'].unique())
display(df_argentina['state_province'].unique())

array(['Unknow', 'Pennsylvania', 'NV', 'Iowa', 'VA', 'TX', 'Colorado',
       'IN', 'CA', 'South Carolina', 'Washington', 'NY', 'Texas', 'ND',
       'MI', 'Ohio', 'Florida', 'California', 'North Carolina',
       'Michigan', 'GA', 'New York, NY'], dtype=object)

array(['Quebec', 'Ontario', 'Nova Scotia', 'British Columbia', 'Alberta',
       'Manitoba', 'New Brunswick', 'Saskatchewan', 'Unknow',
       'Newfoundland and Labrador', 'Prince Edward Island', 'Yukon'],
      dtype=object)

array(['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', 'Unknow',
       'Santiago Del Estero', 'Misiones', 'Catamarca', 'Formosa', 'Jujuy',
       'La Rioja', 'La Pampa', 'San Juan', 'San Luis', 'Tucumán'],
      dtype=object)

- NV: reemplazalo por Nevada
- TX: reemplazalo por Texas
- IN: reemplazalo por Indianapolis
- CA: reemplazalo por California
- VA: reemplazalo por Virginia
- NY: reemplazalo por New York
- MI: reemplazalo por Michigan
- GA: reemplazalo por Georgia
- ND: reemplazalo por North Dakota

In [31]:
dicc= {'Unknow': 'Unknow', 'Pennsylvania':'Pennsylvania', 'NV':'Nevada', 'Iowa':'Iowa', 'VA': 'Virginia', 'TX':'Texas', 'Colorado':'Colorado',
       'IN': 'Indianapolis', 'CA':'California', 'South Carolina':'South Carolina', 'Washington':'Washington', 'NY': 'New York', 'Texas':'Texas', 
       'ND': 'North Dakota','MI':'Michigan', 'Ohio':'Ohio', 'Florida':'Florida', 'California':'California', 'North Carolina':'North Carolina',
       'Michigan':'Michigan', 'GA': 'Georgia', 'New York, NY':'New York'}

In [32]:
df_eeuu["state_province"] = df_eeuu["state_province"].map(dicc, na_action="ignore")

In [33]:
df_eeuu['state_province'].unique()

array(['Unknow', 'Pennsylvania', 'Nevada', 'Iowa', 'Virginia', 'Texas',
       'Colorado', 'Indianapolis', 'California', 'South Carolina',
       'Washington', 'New York', 'North Dakota', 'Michigan', 'Ohio',
       'Florida', 'North Carolina', 'Georgia'], dtype=object)

In [34]:
#df_eeuu['state_province'].replace('NV', 'Nevada', inplace= True)

- Otros valores que tenemos más formateados son y que deberemos reemplazar:

    -New York, NY. Deberéis reemplazarlo por "New York".

    -'Buenos Aires', 'Ciudad Autónoma de Buenos Aires'. En este caso deberéis poner en ambos casos "Buenos Aires"

In [39]:
dicc2 = {'Buenos Aires':'Buenos Aires', 'Ciudad Autónoma de Buenos Aires':'Buenos Aires', 'Entre Ríos':'Entre Ríos',
       'Salta':'Salta', 'Córdoba':'Córdoba', 'Mendoza':'Mendoza', 'Santa Fé':'Santa Fé', 'Unknow':'Unknow',
       'Santiago Del Estero':'Santiago Del Estero', 'Misiones':'Misiones', 'Catamarca':'Catamarca', 'Formosa':'Formosa', 'Jujuy':'Jujuy',
       'La Rioja':'La Rioja', 'La Pampa':'La Pampa', 'San Juan':'San Juan', 'San Luis':'San Luis', 'Tucumán':'Tucumán'}

In [40]:
df_argentina["state_province"] = df_argentina["state_province"].map(dicc2, na_action="ignore")

In [41]:
df_argentina['state_province'].unique()

array(['Buenos Aires', 'Entre Ríos', 'Salta', 'Córdoba', 'Mendoza',
       'Santa Fé', 'Unknow', 'Santiago Del Estero', 'Misiones',
       'Catamarca', 'Formosa', 'Jujuy', 'La Rioja', 'La Pampa',
       'San Juan', 'San Luis', 'Tucumán'], dtype=object)

- Una vez realizados los pasos anteriores, crea una lista con los valores únicos de las provincias de las universidades.

In [42]:
prov_eeuu = df_eeuu['state_province'].unique()
prov_canada = df_canada['state_province'].unique()
prov_argentina = df_argentina['state_province'].unique()

In [48]:
prov_universidades = list(prov_eeuu) + list(prov_canada) + list(prov_argentina)

prov_universidades

['Unknow',
 'Pennsylvania',
 'Nevada',
 'Iowa',
 'Virginia',
 'Texas',
 'Colorado',
 'Indianapolis',
 'California',
 'South Carolina',
 'Washington',
 'New York',
 'North Dakota',
 'Michigan',
 'Ohio',
 'Florida',
 'North Carolina',
 'Georgia',
 'Quebec',
 'Ontario',
 'Nova Scotia',
 'British Columbia',
 'Alberta',
 'Manitoba',
 'New Brunswick',
 'Saskatchewan',
 'Unknow',
 'Newfoundland and Labrador',
 'Prince Edward Island',
 'Yukon',
 'Buenos Aires',
 'Entre Ríos',
 'Salta',
 'Córdoba',
 'Mendoza',
 'Santa Fé',
 'Unknow',
 'Santiago Del Estero',
 'Misiones',
 'Catamarca',
 'Formosa',
 'Jujuy',
 'La Rioja',
 'La Pampa',
 'San Juan',
 'San Luis',
 'Tucumán']

In [52]:
# despues hacer los reemplazos unimos los df para sacar el resto de datos

df_paises = pd.concat([df_eeuu, df_canada, df_argentina], axis = 0, join= 'outer')
df_paises['state_province'].unique()

array(['Unknow', 'Pennsylvania', 'Nevada', 'Iowa', 'Virginia', 'Texas',
       'Colorado', 'Indianapolis', 'California', 'South Carolina',
       'Washington', 'New York', 'North Dakota', 'Michigan', 'Ohio',
       'Florida', 'North Carolina', 'Georgia', 'Quebec', 'Ontario',
       'Nova Scotia', 'British Columbia', 'Alberta', 'Manitoba',
       'New Brunswick', 'Saskatchewan', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Yukon', 'Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', 'Santiago Del Estero',
       'Misiones', 'Catamarca', 'Formosa', 'Jujuy', 'La Rioja',
       'La Pampa', 'San Juan', 'San Luis', 'Tucumán'], dtype=object)


- Usando la API de geopy, extraed la latitud y la longitud de cada una de las provincias y almacenad los resultados en un dataframe.

Una vez que tengáis los datos del ejercicio anterior en un dataframe, unidlo con el de las universidades que hemos sacado de la API.

In [36]:
#merge on